@import 'https://fonts.googleapis.com/css?family=Comfortaa:400,700|Fredoka+One|Nunito:400,800,900|Poiret+One|Quicksand:400,500,700';


html,
body {
  font-family: 'comfortaa', sans-serif;
  text-align: center;
  background-color: black;
  color: white;
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
}

/* Nav bar */

 nav ul {
  position: fixed;
  text-align: right;
  width: 100%;
  background-color: darkgray;
  font-family: "comfortaa",sans-serif; 
  font-size: 1.2em; 
}

nav ul li {
  display: inline-block;
  margin: 30px; 
}

nav ul li a {
  color: white;
  text-decoration: none;  
}
nav ul li a:hover {
  color: black;
}

.myDiv {
  padding-top: 15vh;
  display: inline-block;
  inline-size 150px;
  overflow-wrap: break-word;
  max-width: 45%;
}

/* mobile section */

@media screen and (max-width: 600px) {
  nav ul {
    text-align: center;
  }
  nav ul li {
    margin: 20px;
  }

  .myDiv {
  display: block; /* Stops it from floating */
  margin: auto; /* Ensures that it is centered */
  margin-bottom: 15px; /* Space between the stacked elements */
  max-width: 100%;  
  }
}