@import 'https://fonts.googleapis.com/css?family=Comfortaa:400,700|Fredoka+One|Nunito:400,800,900|Poiret+One|Quicksand:400,500,700';


html,
body {
  font-family: 'comfortaa', sans-serif;
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
}

/* Nav bar */

 nav ul {
  position: fixed;
  text-align: right;
  width: 100%;
  background-color: #Fff;
  font-family: "comfortaa",sans-serif; 
  font-size: 1.2em; 
}

nav ul li {
  display: inline-block;
  margin: 30px; 
}

nav ul li a {
  color: #000;
  text-decoration: none;  
}
nav ul li a:hover {
  color: #ababab;
}

/* one */

#one {
  top: 20;
  line-height: 1.6;
  background: #F5F5F5;
  min-height: 55vh;
  padding-top: 45vh;
  text-align: 
}
  
/* two */

.twoo {
  padding-top: 60px;
  margin-top: -60px;
  padding-bottom: 60px;
  background-color: #dcdcdc;
}

.twoo .twoo-header {
  margin-top: 50px;
  color: #111;
  font-weight: normal;
}

/* three */

.threee {
  background-color: #ababab;
  padding: 60px ;
  line-height: 1.6;
}

.threee-details {
  padding: 60px;
  display: inline-block;
}

/* mobile section */

@media screen and (max-width: 400px) {
  nav ul {
    text-align: center;
  }
  nav ul li {
    margin: 20px;
  }
  .project {
    margin: 40px 0;
  }
}
